#chart {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 200px;
  height: 200px;

}


